
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"> 
        <div class="container">
            <a class="navbar-brand" href="index.html" style="font-size:30px; font-weight: 600; font-family: -webkit-pictograph;"> 
              <img src="/assets/img/logo.jpg" style="margin-right:20px;">JPD Global</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
                  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
                        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-right: -100px;">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" style="font-size: 14px;">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" 
                    style="font-size: 14px;"
                        aria-haspopup="true" aria-expanded="false" routerLink="/services" routerLinkActive="active">
                  SERVICES
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  <a class="dropdown-item" routerLink="/bas-services" routerLinkActive="active" style="font-size: 13px">GST SERVICES</a>
                  <a class="dropdown-item" routerLink="/fright-services" routerLinkActive="active" style="font-size: 13px">FREIGHT MANAGEMENT SYSTEM </a>
                  <a class="dropdown-item" routerLink="/reverse-services" routerLinkActive="active" style="font-size: 13px">REVERSE LOGISTICS</a>
                  <a class="dropdown-item" routerLink="/depot-services" routerLinkActive="active" style="font-size: 13px">BONDED DEPOT SERVICES</a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/pricing" routerLinkActive="active" style="font-size: 14px;">PRICING</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">
                  RESOURCES
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                    <a class="dropdown-item" routerLink="/resource-gst" routerLinkActive="active" style="font-size: 13px;">
                      AUSTRALIAN GST CHANGES
                    </a>
                    <a class="dropdown-item" routerLink="/resource-article" routerLinkActive="active" style="font-size: 13px;">
                      AUSTRALIAN GST UPDATE
                    </a>
                    <a class="dropdown-item" routerLink="/resource-termsAndServices" routerLinkActive="active" style="font-size: 13px;">
                      TERMS AND CONDITION
                    </a>
                    <a class="dropdown-item" routerLink="/resource-policy" routerLinkActive="active" style="font-size: 13px;">
                      PRIVACY POLICY
                    </a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact" routerLinkActive="active" style="font-size: 13px;">CONTACT US</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about" routerLinkActive="active" style="font-size: 13px;">ABOUT US</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active" style="font-size: 13px;">LOGIN & SIGNUP</a>
              </li>

            </ul>
          </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="margin-top: 70px">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Australian GST changes and its impact on global e-Commerce</h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">HOME</a>
        </li>
        <li class="breadcrumb-item active">RESOURCES</li>
        <li class="breadcrumb-item active">Australian GST Changes</li>
      </ol>
      <!-- Image Header -->
      <img class="img-fluid rounded mb-4" src="/assets/img/gst.jpg" alt="">
    </div>

     <!-- Page Content -->
     <div class="container">

            <div>
                <h1 class="my-4-gst">Introduction</h1>
                <p> 
                    The world has experienced an extraordinary change in the retail marketplace in the past decade which is evidenced by the expectation that online shopping will surpass 17.5% of retail sales by 2021. As this market has matured, online sellers have continually benefitted from tax savings derived from high tax-free thresholds in many markets including Australia. The Australian tax-free threshold of AUD$1000 has been a significant factor in the country becoming one of the top 5 markets for most online sellers.
                </p>
                <p>
                    Recognising the significantly high threshold of AUD$1000, the Australian Government commissioned consultation with government bodies, customs and retailers which has resulted in the bold move to enact legislation that will significantly impact the online shopping community. The legislation commencing 1st July 2018, will create considerable burden and challenges on foreign shippers of e-Commerce goods to Australia.
                </p>
            </div>

            <div>
                <h1 class="my-4-gst">Impact for foreign sellers</h1>
                    <p> 
                        The five key areas that foreign sellers will be impacted by the new legislation are:
                    </p>
                    <p>
                    1. <a href= "" style="font-size: 16px" class="disable-me" >Registering for a GST Reference number (ARN) </a> - 1.	Any party selling more than AUD$75,000.00 per year to Australian consumers will be required to register with the Australian Tax Office (ATO) and obtain an ARN.
                    </p>
                    <p>
                    2. <a href= "" style="font-size: 16px" class="disable-me">Collecting GST </a> - It will be the responsibility of the seller to collect GST on all sales to Australian consumers. This will entail changes to shopping carts to include a GST collection component. This GST will be payable to the ATO.
                    </p>
                    <p>
                      3. <a href= "" style="font-size: 16px" class="disable-me">GST Report Lodgement </a> - The seller will be required to lodge a quarterly GST report to the ATO and this must be prepared by a recognised Australian GST agent. The GST payable will be determined by this report and is due payable on the 28th of the month following the quarter.   
                    </p>
                    <p>
                    4. <a href= "" style="font-size: 16px" class="disable-me"> Currency fluctuations </a> - With GST collection being an ongoing process throughout the quarter, any sellers not conducting transactions in AUD will be subject to the currency fluctuations by the time the GST is payable
                    </p>
                    <p>
                    5. <a  href= "" style="font-size: 16px" class="disable-me"> Reverse Logistics </a> - With the ability to claim a GST refund on returns that have been re-exported, reverse logistics will become a major factor in the industry. Currently returns may prove more costly than the products’ value by itself, hence the ability to withdraw the GST will make this far more attractive.
                    </p>
            </div>

            <div>
                <h1 class="my-4-gst">How will the ATO monitor activities</h1>
                <p>
                    The ATO have established data sharing with the Department of Home Affairs (Customs) for which the value of the transaction and the ARN will be provided to the ATO. This information will be reconciled against the GST reports lodged by the seller at the same time when the ATO enforces the new legislation accordingly.
                </p>

            </div>

            <div>
                    <h1 class="my-4-gst">What this all means for Foreign Sellers</h1>
                        <p> 
                            The emphasis for collecting tax and all obligations pertaining to this is now the responsibility of the seller. The obligations include:
                        </p>
                        <p style="font-size: 18px;color: #616161;">
                            1.	Registering with the ATO to obtain a GST reference number
                        </p>
                        <p style="font-size: 18px;color: #616161;">
                            2. Collecting 10% GST for sales made to Australia
                        </p>
                        <p style="font-size: 18px;color: #616161;">
                            3. Declaring the correct value and passing on GST reference number to the freight forwarder or importer
                        </p>
                        <p style="font-size: 18px;color: #616161;">
                            4. Preparing and lodging a GST report quarterly
                        </p>
                        <p style="font-size: 18px;color: #616161;">
                            5. Paying the GST collected to the ATO on the 28th of the month following the end of the quarter.
                        </p>
                    <p> Whilst the above obligations must be carried out by the seller or any agent acting on their behalf, it would be wise to consider processes that include the below: </p>
                    <p style="font-size: 18px;color: #616161;"> 1. Amending shopping carts to include a GST collection component</p>
                    <p style="font-size: 18px;color: #616161;"> 2. Consider selling in AUD if not currently </p>
                    <p style="font-size: 18px;color: #616161;"> 3. GST drawback on return product that have been re-exported </p>
            </div>

            <div>
                    <h1 class="my-4-gst">Conclusion</h1>
                        <p> 
                            Significant changes are ahead for the online shopping industry. With Australia venturing into uncharted territories, it will be interesting to see how methodical the authorities will be monitoring and enforcing noncompliance of the new legislation.
                        </p>
                        <p>
                            As with anything new, it would be expected that there will be an adjustment period both within the market and by regulatory bodies. In the same context, it should be expected that this will be a short adjustment period and this will drive more and more Australian service providers to offer a complete solution where all GST related services are seamlessly integrated with the existing supply chain. 
                        </p>
                        <p>
                            There is a popular saying, with great risk comes potential great reward. Only time will tell if and when the rest of the world will follow Australia's lead.....
                        </p>
            </div>

          <!-- Project One -->
          <div class="row" style="margin-top:30px; margin-bottom: 20px">
              <div class="col-lg-3 mb-3">
                <div class="card h-100">
                  <h5 class="card-header ">GST SERVICES</h5>
                  <div class="card-body">
                    <p class="card-text" style="font-size: 16px !important">​Did you know the changes to Australian GST regulations directly affect foreign online sellers? We can save you time and money without changing your current processes!</p>
                    <button class="btn btn-learn-more" routerLink="/bas-services" routerLinkActive="active" style="margin-top: 25px;">Learn More</button>
                  </div>
                  <!-- <div class="card-footer">
                      <span href="#" class="btn btn-primary" routerLink="/bas-services" routerLinkActive="active" >Learn More</span>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-3 mb-3">
                <div class="card h-100">
                  <h5 class="card-header">FREIGHT MANAGEMENT</h5>
                  <div class="card-body">
                    <p class="card-text" style="font-size: 16px !important">Whatever part of the supply chain you operate in, we have the solution for you!
                        A multi facet system which can offer solutions right through forward logistics and back through reverse logistics.</p>
                    <button class="btn btn-learn-more" routerLink="/fright-services" routerLinkActive="active" style="margin-top: 25px;">Learn More</button>
                  </div>
                  <!-- <div class="card-footer">
                      <span href="#" class="btn btn-primary" routerLink="/fright-services" routerLinkActive="active">Learn More</span>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-3 mb-3">
                <div class="card h-100">
                  <h5 class="card-header">REVERSE LOGISTICS</h5>
                  <div class="card-body">
                    <p class="card-text" style="font-size: 16px !important">We recognise the need for foreign sellers to present an uncomplicated, efficient and competitive offering. One that can satisfy the consumers expectations over a local retailer.</p>
                    <button class="btn btn-learn-more" routerLink="/reverse-services" routerLinkActive="active" style="margin-top: 25px;">Learn More</button>
                  </div>
                  <!-- <div class="card-footer">
                      <span style="font-size: 25px; margin-left: 20px"> + </span>
                      <span href="#" class="btn btn-primary" routerLink="/reverse-services" routerLinkActive="active">Learn More</span>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-3 mb-3">
                      <div class="card h-100">
                        <h5 class="card-header">BONDED DEPOT SERVICES</h5>
                        <div class="card-body">
                          <p class="card-text" style="font-size: 16px !important">Having your own Section 77G or Approved Arrangement facility could be as simple as contacting us!
                              The red tape, the complexity and all the issue in between can be made simple by contacting us</p>
                          <button class="btn btn-learn-more" routerLink="/depot-services" routerLinkActive="active" style="margin-top: 0px;">Learn More</button>
                        </div>
                        <!-- <div class="card-footer">
                          <span style="font-size: 25px; margin-left: 20px"> + </span>
                          <span href="#" class="btn btn-primary" routerLink="/depot-services" routerLinkActive="active">Learn More</span>
                        </div> -->
                      </div>
              </div>
        </div>
          <!-- /.row -->
      
     </div>
   

    <footer class="py-5 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; JPD Global Logistics System</p>
            </div>
    </footer>
