<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Creative - Start Bootstrap Theme</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  </head>

  <!-- <body id="page-top">

       <!-- Navigation -->
       <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        
        
        
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
              <img  src="/assets/img/d2z.jpg"  alt="">
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#about">Services</a>
              </li>
                      
             <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Services <b class="caret"></b></a>
                  <ul class="dropdown-menu" id="menu1">
                    <li class="nav-link js-scroll-trigger"><a href="#">BAS SERVICES</a></li>
                    <li class="nav-link js-scroll-trigger"><a href="#">FREIGHT MANAGEMENT SYSTEM</a></li>
                    <li class="nav-link js-scroll-trigger"><a href="#">REVERSE LOGISTICS</a></li>
                    <li class="nav-link js-scroll-trigger"><a href="#">BONDED DEPOT SERVICES</a></li>
                  </ul>
              </li>
             
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
              </li> 
              <li class="nav-item">
                  <a routerLink="/login" routerLinkActive="active" class="nav-link js-scroll-trigger">Track Parcel</a>
              </li>
              <li class="nav-item">
                <a routerLink="/login" routerLinkActive="active" class="nav-link js-scroll-trigger">Login</a>
              </li>
            </ul>
          </div>
        </div>


        
      </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1 class="text-uppercase">
              <strong>
                Offering e-commerce parcel injection Australia wide </strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">D2Z Pvt Ltd was founded by experienced professionals to provide a rapid yet smooth experience to our customers.
                Our company always strive to focus on customer needs in terms of packing, shipping and delivering at their door-step.
                </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">D2Z Pvt Ltd was founded by experienced professionals to provide a rapid yet smooth experience to our customers.
                Our company always strive to focus on customer needs in terms of packing, shipping and delivering at their door-step.
                
              
                Combining over 30 years of experience in the Logistics domain, we provide the best competitive rates and a concrete solution to all our customers needs
              
              </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">At Your Service</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">What D2Z offer</h3>
              <p class="text-muted mb-0">Customs clearance • API integration • Full visibility of parcels • Door to door service • Customer Service • Multiple last mile delivery options.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Other Services Offered</h3>
              <p class="text-muted mb-0">• Import/Export Airfreight • 3PL Warehousing • Fully integrated track & trace system • Domestic Logistics requirements • 4-point direct injection across Australia!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Easy To Use Software</h3>
              <p class="text-muted mb-0">Our custom designed software is user friendly and requires only very basic computer skills.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">100% Web Based</h3>
              <p class="text-muted mb-0">D2Z software 100% Web based allowing users to access the system from anywhere around the world</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Domestic ecommerce delivery service (B2C)</h3>
                <p class="text-muted mb-0">D2Z provide our customers with a flexible & cost effective way to distribute their freight. To do this we will sit down with your company to analyse your freight profile and provide you with varying options to suit your requirements.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-phone text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Customers Services</h3>
                <p class="text-muted mb-0">At D2Z, We ensure 100% customer satisfaction by giving best in class customers service for the services we offer</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="/assets/img/portfolio/thumbnails/1.jpg"  alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    What D2Z Offer
                  </div>
                  <div class="project-name">
                      Customs clearance • API integration • Full visibility of parcels • Door to door service • Customer Service • Multiple last mile delivery options
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="/assets/img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Other Services Offered
                  </div>
                  <div class="project-name">
                      • Import/Export Airfreight • 3PL Warehousing • Fully integrated track & trace system • Domestic Logistics requirements • 4-point direct injection across Australia
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="/assets/img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Easy To Use Software
                  </div>
                  <div class="project-name">
                      Our custom designed software is user friendly and requires only very basic computer skills.
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="/assets/img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      100% Web Based
                  </div>
                  <div class="project-name">
                      D2Z software 100% Web based allowing users to access the system from anywhere around the world 
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="/assets/img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Domestic ecommerce delivery service (B2C)
                  </div>
                  <div class="project-name">
                    D2Z provide our customers with a flexible & cost effective way to distribute their freight. To do this we will sit down with your company to analyse your freight profile and provide you with varying options to suit your requirements.
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="/assets/img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="/assets/img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl sr-button" href="">Download Now!</a>
      </div>
    </section> -->

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">Ready to start your next feedback with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:contact@d2z.com.au">contact@d2z.com.au</a>
            </p>
          </div>
        </div>
      </div>
    </section>

  </body> -->

</html>
