body {
    padding-top: 54px;
  }
  
.portfolio-item {
    margin-bottom: 30px;
  }

  .md-md-block{
    margin-top: -30px;
  }

  .terms-fonts{
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: #565656;
    margin-top: 40px;
  }

  .terms-header{
    font-size: 20px;
    font-weight: 400;
  }

  #mainNav {
    border-bottom: 1px solid rgba(33,37,41,.1);
    background-color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  }

.h3, h3{
  font-size: 2.75rem !important;
  font-weight: 500;
  color: black;
}

.h1-home {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: -webkit-pictograph;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color:black;
}

.h2-home{
  font-size: 40px !important;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.0;
  letter-spacing: normal;
  text-align: center !important;
  padding-bottom: 30px !important;
  padding-top: 25px !important;
  font-family: inherit;
  color: #0671b7;
}

a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.85rem;
  background-color: transparent;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.79);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .65rem 1.8rem;
  clear: both;
  font-weight: 500;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
  right: auto;
  left: auto;
}

.card-header {
  padding: .65rem .55rem;
  margin-bottom: 0;
  /* background-color: #7a8184; */
  background-color: #0671b7;
  border-bottom: 1px solid rgba(0,0,0,.125);
  text-align: center;
  color: white;
}

.h5, h5 {
  font-size: 1.15rem;
}

.py-5 {
  padding-top: 0rem!important;
  padding-bottom: 2rem!important;
  height: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #b53737;
  border-color: brown;
  margin-left: 1px;
}

.bg-dark {
  /* background-color: #3bb3db !important; */
  background-color: #0671b7 !important;
}

p1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #616161;
    font-family: sans-serif;
}

.carouselExampleIndicators .intro h1{
  font-size: 60px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    /* text-shadow: 0px 3.5px 0 #000000; */
    padding-bottom: 50px;
}

.card {
  border: 0px solid rgba(0,0,0,.125);

}

.btn-learn-more{
  height: 30px !important;
  background-color: #fff;
  border: solid 0.5px #0671b7;
  font-size: 17px;
  font-weight: normal;
  line-height: 0.45;
  color: #131c2e;
  margin-top: 0px;
  padding: 8px 16px !important;
  border-radius: 30px;
  cursor: pointer;
  }

.carousel-indicators .active{
  background-color: #0671b7;
}