   <!-- Navigation -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"> 
      <div class="container">
          <a class="navbar-brand" href="index.html" style="font-size:30px; font-weight: 600; font-family: -webkit-pictograph;"> 
            <img src="/assets/img/logo.jpg" style="margin-right:20px;">JPD Global</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
                      aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-right: -100px;">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active" style="font-size: 14px;">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" 
                  style="font-size: 14px;"
                      aria-haspopup="true" aria-expanded="false" routerLink="/services" routerLinkActive="active">
                SERVICES
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" routerLink="/bas-services" routerLinkActive="active" style="font-size: 13px">GST SERVICES</a>
                <a class="dropdown-item" routerLink="/fright-services" routerLinkActive="active" style="font-size: 13px">FREIGHT MANAGEMENT SYSTEM </a>
                <a class="dropdown-item" routerLink="/reverse-services" routerLinkActive="active" style="font-size: 13px">REVERSE LOGISTICS</a>
                <a class="dropdown-item" routerLink="/depot-services" routerLinkActive="active" style="font-size: 13px">BONDED DEPOT SERVICES</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pricing" routerLinkActive="active" style="font-size: 14px;">PRICING</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" 
                          aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">
                RESOURCES
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                  <a class="dropdown-item" routerLink="/resource-gst" routerLinkActive="active" style="font-size: 13px;">
                    AUSTRALIAN GST CHANGES
                  </a>
                  <a class="dropdown-item" routerLink="/resource-article" routerLinkActive="active" style="font-size: 13px;">
                    AUSTRALIAN GST UPDATE
                  </a>
                  <a class="dropdown-item" routerLink="/resource-termsAndServices" routerLinkActive="active" style="font-size: 13px;">
                    TERMS AND CONDITION
                  </a>
                  <a class="dropdown-item" routerLink="/resource-policy" routerLinkActive="active" style="font-size: 13px;">
                    PRIVACY POLICY
                  </a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active" style="font-size: 13px;">CONTACT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active" style="font-size: 13px;">ABOUT US</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active" style="font-size: 13px;">LOGIN & SIGNUP</a>
            </li>

          </ul>
        </div>
      </div>
   </nav>

   <!-- Page Content -->
   <div class="container" style="margin-top:80px">
        
        <div class="col-xs-12 terms-fonts">
               <h4 style="text-align: center; margin-bottom:20px; font-weight: 600"
                class="background-image: url(../../../assets/img/terms-header.jpg)" > AUSTRALIAN GST UPDATE </h4>
             
                <p> Less than a month remains in the first quarter of the Australian 2018-19 financial year. Never before has a single quarter held such relevance on a global stage nor has the impact of what is to follow been dismissed so cheaply. As the ATO prepares to receive a multitude of quarterly reports from around the world, many of those who import to Australia are still neglecting their new responsibilities. This article will set out some of the key points for exporters to consider when sending freight to Australia.</p>

               <h4 style="margin-top: 30px">ENFORCING COMPLIANCE</h4>
                    
                    <p>o	The ATO now has the power to recover outstanding taxes via foreign governments and their courts under The Multilateral Convention on Mutual Administrative Assistance in Tax Matters.<span style="color: #0e7ac1; font-size: 13px;">3</span> </p>
                    <p>o	The ATO retrieves information from AUSTRAC regarding compliance. <span style="color: #0e7ac1; font-size: 13px;">4</span></p>
                    <p>o	Universal Postal Union (UPU) regulations require Posts to share information about the sender, contents, and value with customs authorities.<span style="color: #0e7ac1; font-size: 13px;">5</span></p>

               <h4 style="margin-top: 30px">NON -COMPLIANCE WITH NEW LAWS </h4>

                    <p>o	ATO register you for GST, calculate your liability and issue an assessment.</p>
                    <p>o	ATO impose an additional 75% administrative penalty plus General Interest Charges (GIC).</p>
                    <p>o	ATO proceeds with recovery action. Outstanding debt is registered in a court in the seller’s country and the taxation authority of that country recovers the debt on behalf of the ATO.<span style="color: #0e7ac1; font-size: 13px;">6</span></p>

                <h4 style="margin-top: 30px">WHAT DOES THIS MEAN FOR YOU </h4>
                    
                    <p>o	Outlined below is the 2 options sellers have, as well as a table of potential penalties for non-compliance: </p>    
                    <p style="text-align: center">
                            <img src="/assets/img/article.png" style="margin-right:20px;"/>
                    </p>
                    <p>Our service ensures sellers meet their obligations to maintain compliance and avoid unnecessary penalties. Contact Dwayne today for pricing at <a href="mailto:dwayne@jpdglobal.com.au">dwayne@jpdglobal.com.au</a> or visit <a href="www.jpdglobal.com.au" target="blank">www.jpdglobal.com.au</a></p>

                    
                  <h4  style="margin-top: 30px">Notes:</h4>
                    <p>1. Compliant calculation = GST payable</p>
                    <p>2. Non-Compliant calculation = GST payable + Penalty (75% administration fee and GIC of 8.78% per annum for 1 year)</p>
                    <p>
                        <a href="https://read.oecd-ilibrary.org/taxation/the-multilateral-convention-on-mutual-administrative-assistance-in-tax-matters_9789264115606-en#page18" target="blank">3. https://read.oecd-ilibrary.org/taxation/the-multilateral-convention-on-mutual-administrative-assistance-in-tax-matters_9789264115606-en#page18</a>
                    </p>
                    <p>
                         <a href="http://austrac.gov.au/sites/default/files/documents/austrac_info_to_foreign_gov_policy.pdf" target="blank">4. http://austrac.gov.au/sites/default/files/documents/austrac_info_to_foreign_gov_policy.pdf</a>
                    </p>
                    <p>
                        <a href="http://www.upu.int/en/activities/customs/about-customs.html" target="blank"> 5. http://www.upu.int/en/activities/customs/about-customs.html	</a>
                    </p>
                    <p>
                        <a href="https://www.ato.gov.au/Business/International-tax-for-business/GST-on-low-value-imported-goods/Making-compliance-happen/" target="blank">6. https://www.ato.gov.au/Business/International-tax-for-business/GST-on-low-value-imported-goods/Making-compliance-happen/</a>
                    </p>
            </div>

   </div>
  
   <!-- Footer -->
   <footer class="py-5 bg-dark">
    <div class="container">
      <div class="m-0 text-center text-white">Copyright &copy; JPD Global Logistics System</div>
    </div>
   </footer>